In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pyplot
%matplotlib inline
import seaborn as sns
sns.set_theme()

df = pd.read_csv('deptosDataset.csv')
df.head(15)

,titulo,precio,ubicacion,dorm,ban,sup
0,b'VENDO DEPARTAME',U$S 40.000,San Vicente,1,1,45
1,b'GRAL PAZ-2 BALC',U$S 55.000,General Paz,1,1,sin datos
2,b'GENERAL PAZ-CAT',U$S 60.000,General Paz,1,1,sin datos
3,b'Tr\xc3\xa1nsito C\xc3\xa1ce',U$S 67.000,Nueva Córdoba,1,1,45
4,b'B\xc2\xba LOMAS DE MA',U$S 130.000,sin ubicacion,3,3,130
5,b'\xe2\x80\xa2Gral PAZ\xe2\x80\xa2 ',U$S 63.000,General Paz,1,sin datos,47
6,b'CASA MIRADORES ',U$S 211.000,Manantiales,3,3,sin datos
7,b'VENDO DUPLEX EN',U$S 114.000,sin ubicacion,3,3,sin datos
8,b'VENTA- DUPLEX E',U$S 86.000,Docta Urbanización Inteligente,2,2,sin datos
9,b'Condominio Prem',U$S 78.800,Chateau Carreras,1,1,47
10,b'\xe2\x98\x85 2 Dormotori',U$S 105.000,General Paz,2,2,75
11,b'EXCELENTE DPTO ',U$S 75.000,General Paz,2,2,65
12,b'DEPARTAMENTO EN',U$S 140.000,Nueva Córdoba,2,2,sin datos
13,b'KABALS VENDE DE',U$S 65.000,Nueva Córdoba,1,1,49
14,b'KABAL&#039;S VE',U$S 120.000,Nueva Córdoba,2,2,97

In [2]:
df[df['precio']=='consultar']

,titulo,precio,ubicacion,dorm,ban,sup
22,b'B\xc2\xba ALTO ALBERD',consultar,Alberdi,3,2,80
30,b'Fontanas del Su',consultar,Tejas 1,1,1,65
32,b'Departamento 2 ',consultar,Tejas 1,2,2,sin datos
66,b'Nva Cba con Ame',consultar,Nueva Córdoba,1,sin datos,42
119,b'NUEVA C\xc3\x93RDOBA!',consultar,Nueva Córdoba,1,1,45
...,...,...,...,...,...,...
3482,b'CATAMARCA 1255-',consultar,General Paz,2,2,sin datos
3486,b'VENDO- depto. 1',consultar,Centro,1,1,sin datos
3619,b'DUE\xc3\x91O VENDE A ',consultar,Nueva Córdoba,1,1,42
3632,b'DEPTO EN #VENTA',consultar,Alta Córdoba,2,1,50
3656,b'DEPARTAMENTO EN',consultar,sin ubicacion,3,3,sin datos