In [2]:
import pandas as pd

df = pd.read_csv('deptosDataset.csv')
df.head(10)

,titulo,precio,ubicacion,dorm,ban,sup
0,b'VENDO DEPARTAME',U$S 40.000,San Vicente,1,1,45
1,b'GRAL PAZ-2 BALC',U$S 55.000,General Paz,1,1,sin datos
2,b'GENERAL PAZ-CAT',U$S 60.000,General Paz,1,1,sin datos
3,b'Tr\xc3\xa1nsito C\xc3\xa1ce',U$S 67.000,Nueva C贸rdoba,1,1,45
4,b'B\xc2\xba LOMAS DE MA',U$S 130.000,sin ubicacion,3,3,130
5,b'\xe2\x80\xa2Gral PAZ\xe2\x80\xa2 ',U$S 63.000,General Paz,1,sin datos,47
6,b'CASA MIRADORES ',U$S 211.000,Manantiales,3,3,sin datos
7,b'VENDO DUPLEX EN',U$S 114.000,sin ubicacion,3,3,sin datos
8,b'VENTA- DUPLEX E',U$S 86.000,Docta Urbanizaci贸n Inteligente,2,2,sin datos
9,b'Condominio Prem',U$S 78.800,Chateau Carreras,1,1,47

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3693 entries, 0 to 3692
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   titulo     3693 non-null   object
 1   precio     3693 non-null   object
 2   ubicacion  3693 non-null   object
 3   dorm       3693 non-null   object
 4   ban        3693 non-null   object
 5   sup        3693 non-null   object
dtypes: object(6)
memory usage: 173.2+ KB

In [3]:
df.drop(df[df['precio']=='consultar'].index, inplace=True)

In [4]:
df[df['precio']=='consultar'].count()

titulo       0
precio       0
ubicacion    0
dorm         0
ban          0
sup          0
dtype: int64

In [5]:
def convertirPrecio(value):
    newValue = value.replace('.','').replace('U$S ','')
    
    return int(newValue)

In [6]:
df['precio'] = df['precio'].apply(convertirPrecio)

In [7]:
df.head(10)

,titulo,precio,ubicacion,dorm,ban,sup
0,b'VENDO DEPARTAME',40000,San Vicente,1,1,45
1,b'GRAL PAZ-2 BALC',55000,General Paz,1,1,sin datos
2,b'GENERAL PAZ-CAT',60000,General Paz,1,1,sin datos
3,b'Tr\xc3\xa1nsito C\xc3\xa1ce',67000,Nueva C贸rdoba,1,1,45
4,b'B\xc2\xba LOMAS DE MA',130000,sin ubicacion,3,3,130
5,b'\xe2\x80\xa2Gral PAZ\xe2\x80\xa2 ',63000,General Paz,1,sin datos,47
6,b'CASA MIRADORES ',211000,Manantiales,3,3,sin datos
7,b'VENDO DUPLEX EN',114000,sin ubicacion,3,3,sin datos
8,b'VENTA- DUPLEX E',86000,Docta Urbanizaci贸n Inteligente,2,2,sin datos
9,b'Condominio Prem',78800,Chateau Carreras,1,1,47

In [73]:
df.columns

Index(['titulo', 'precio', 'ubicacion', 'dorm', 'ban', 'sup'], dtype='object')

In [9]:
dfBarrios = df.groupby('ubicacion')['ubicacion'].agg('count')
dfBarrios.head

ubicacion
 10 de Agosto            4
 A.T.E.                  2
 Alberdi               218
 Alejandro Centeno       2
 Alta C贸rdoba          111
                      ...
 Villa Urquiza           1
 Villa Warcalde          4
 Yofre Sud               1
 Zumaran                 1
sin ubicacion          102
Name: ubicacion, Length: 169, dtype: int64

In [16]:
df.ubicacion = df.ubicacion.apply(lambda x: x.strip())
estadisticasUbicacion = df.groupby('ubicacion')['ubicacion'].agg('count').sort_values(ascending=False)
estadisticasUbicacion

ubicacion
Nueva C贸rdoba          903
Centro                 426
General Paz            395
Alberdi                218
Alto Alberdi           119
                      ...
Ca帽itas                  1
San Ignacio Village      1
Bella Vista Oeste        1
San Jos茅                 1
Los Platanos             1
Name: ubicacion, Length: 169, dtype: int64

In [17]:
with pd.option_context('display.max_rows', None,
                       'display.max_columns', None,
                       'display.precision', 3,
                       ):
    print(estadisticasUbicacion)

ubicacion
Nueva C贸rdoba                     903
Centro                            426
General Paz                       395
Alberdi                           218
Alto Alberdi                      119
Cofico                            118
Alta C贸rdoba                      111
sin ubicacion                     102
Manantiales                        95
Guemes                             55
Villa Belgrano                     52
Chateau Carreras                   44
Otro                               41
Pueyrredon                         39
Greenville 2                       37
San Martin                         37
Providencia                        33
Valle Escondido                    33
Quebrada de las Rosas              31
Observatorio                       30
Docta Urbanizaci贸n Inteligente     28
San Vicente                        27
Jard铆n                             22
Jard铆n Claret                      20
Urca                               19
Las Palmas                         18
Jard铆n Espinosa                    18
Las Rosas                          14
Cerro de las Rosas                 13
Tejas 1                            12
Juniors                            12
Altos de Villa Sol                 12
Claros del Bosque                  12
Residencial Santa Ana              11
Arguello                           10
Ca帽uelas                           10
San Ignacio                         9
Jard铆n Hipodromo                    9
Paso de los Andes                   9
Villa Revol                         9
Alto Verde                          8
Prados de Manantiales               8
Miradores de Manantiales            7
Lomas del Chateau                   7
Lomas de San Mart铆n                 6
General Bustos                      6
Balcones del Chateu                 6
Los Naranjos                        6
Don Bosco                           6
San Francisco                       6
Ca帽uelas Chicos                     6
San Fernando                        6
Chacra del Norte                    6
Maipu Secci贸n 1                     5
Villa Sol                           5
Amp. Pueyrred贸n                     5
San Martin Norte                    5
La Paya II                          5
Chacra del Sur                      5
Nuevo Poeta Lugones                 5
Crisol Norte                        5
Solares de Manantiales              4
Marq. de Sobremonte                 4
Valle Cercano                       4
San Salvador                        4
Nuevo Urca                          4
San Isidro                          4
Villa Warcalde                      4
La Catalina                         4
10 de Agosto                        4
Ipona                               4
Villa Alberdi                       3
Teodoro Felds                       3
Palmas de Claret                    3
Alto General Paz                    3
Parque Velez Sarsfield              3
Inaudi                              3
Primero de Mayo                     3
Jockey Club                         3
Parque Capital Sud                  3
Parque Capital                      3
Col贸n                               2
Parque Corema                       2
Altos de Manantiales                2
Parque Chacabuco                    2
San Rafael                          2
Parque Liceo II                     2
Panamericano                        2
Colinas de V. Sarsfield             2
Residencial America                 2
Residencial San Carlos              2
Terrazas de Manantiales             2
Residencial Velez Sarfield          2
SEP                                 2
SMATA                               2
Tejas 2                             2
Talleres Este                       2
Bialet Masse                        2
Amp. San Pablo                      2
Quintas de Arguello                 2
Avenida                             2
Padre Claret                        2
Villa Cabrera                       2
Las Flores                          2
Alejandro Centeno                   2
Jard铆n de los Boulevares            2
Lomas del Suqu铆a                    2
Villa Rivera Indarte                2
Villa Allende Parque                2
A.T.E.                              2
General Artigas                     2
Villa Argentina                     2
General Belgrano                    2
Fontanas del Sur                    2
Villa Union                         1
Arguello Norte                      1
Santina Norte                       1
Zumaran                             1
Tablada Park                        1
Yofre Sud                           1
Amp. Las Palmas                     1
Villa Urquiza                       1
Altos de San Mart铆n                 1
Ameghino Sud                        1
Terranova                           1
Villa Azalais                       1
Altamira                            1
Alto Palermo                        1
Villa Paez                          1
Terrazas de Ohiggins                1
Villa Corina                        1
Villa Claret                        1
Villa Carlos Paz                    1
La France                           1
Ciudadela                           1
Bajo Galan                          1
Los Olmos                           1
Mirador                             1
Matienzo                            1
Ituzaingo                           1
Maipu Secci贸n 2                     1
Jardines del Jockey                 1
Los Robles                          1
Jardines del Olmo                   1
Bajo Palermo                        1
Los Boulevares                      1
Jard铆n del Pilar                    1
Lomas de Manantiales                1
La Calandria                        1
La Carolina                         1
La Paya I                           1
Nuevo Jard铆n                        1
Obrero                              1
Ejercito Argentino                  1
Ducasse                             1
Parque Rep煤blica                    1
C谩ceres                             1
Costas de Manantiales               1
Colinas de Manantiales              1
La Luisita                          1
Riberas de Manantiales              1
Rivadavia                           1
SMATA II                            1
Centenario                          1
Ca帽itas                             1
San Ignacio Village                 1
Bella Vista Oeste                   1
San Jos茅                            1
Los Platanos                        1
Name: ubicacion, dtype: int64

In [82]:
otras_ubicaciones = estadisticasUbicacion[estadisticasUbicacion<10]
otras_ubicaciones

ubicacion
San Ignacio            9
Jard铆n Hipodromo       9
Paso de los Andes      9
Villa Revol            9
Alto Verde             8
                      ..
Ca帽itas                1
San Ignacio Village    1
Bella Vista Oeste      1
San Jos茅               1
Los Platanos           1
Name: ubicacion, Length: 133, dtype: int64

In [88]:
df.ubicacion = df.ubicacion.apply(lambda x: 'other' if x in otras_ubicaciones else x)

In [35]:
estadisticasUbicacionFinal = df.groupby('ubicacion')['ubicacion'].agg('count').sort_values(ascending=False)
estadisticasUbicacionFinal

ubicacion
Nueva C贸rdoba                     903
Centro                            426
General Paz                       395
other                             351
Alberdi                           218
Alto Alberdi                      119
Cofico                            118
Alta C贸rdoba                      111
sin ubicacion                     102
Manantiales                        95
Guemes                             55
Villa Belgrano                     52
Chateau Carreras                   44
Otro                               41
Pueyrredon                         39
San Martin                         37
Greenville 2                       37
Valle Escondido                    33
Providencia                        33
Quebrada de las Rosas              31
Observatorio                       30
Docta Urbanizaci贸n Inteligente     28
San Vicente                        27
Jard铆n                             22
Jard铆n Claret                      20
Urca                               19
Las Palmas                         18
Jard铆n Espinosa                    18
Las Rosas                          14
Cerro de las Rosas                 13
Altos de Villa Sol                 12
Claros del Bosque                  12
Tejas 1                            12
Juniors                            12
Residencial Santa Ana              11
Arguello                           10
Ca帽uelas                           10
Name: ubicacion, dtype: int64

In [39]:
df.head(5)

                           titulo  precio      ubicacion dorm ban        sup
0              b'VENDO DEPARTAME'   40000    San Vicente    1   1         45
1              b'GRAL PAZ-2 BALC'   55000    General Paz    1   1  sin datos
2              b'GENERAL PAZ-CAT'   60000    General Paz    1   1  sin datos
3  b'Tr\xc3\xa1nsito C\xc3\xa1ce'   67000  Nueva C贸rdoba    1   1         45
4        b'B\xc2\xba LOMAS DE MA'  130000  sin ubicacion    3   3        130

In [55]:
dorm_sindatos_indexes = df[df['dorm'] == 'sin datos'].index
df.drop(dorm_sindatos_indexes, inplace= True)

In [69]:
conteo_dormitorios = df.groupby('dorm')['dorm'].agg('count')
conteo_dormitorios

dorm
1               1726
2               1017
3                668
4                 46
Monoambiente      42
Name: dorm, dtype: int64

In [89]:
df.dorm = df.dorm.apply(lambda x: '0' if x =='Monoambiente' else x)

In [90]:
conteo_dormitorios = df.groupby('dorm')['dorm'].agg('count')
conteo_dormitorios

dorm
0      42
1    1726
2    1017
3     668
4      46
Name: dorm, dtype: int64

In [107]:
df["dorm"] = df["dorm"].astype("int64")

In [108]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3499 entries, 0 to 3692
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   titulo     3499 non-null   object
 1   precio     3499 non-null   int64
 2   ubicacion  3499 non-null   object
 3   dorm       3499 non-null   int64
 4   ban        3499 non-null   object
 5   sup        3499 non-null   object
dtypes: int64(2), object(4)
memory usage: 191.4+ KB

In [57]:
dfBan = df.groupby('ban')['ban'].agg('count')
dfBan

ban
+               3
1            2164
2             833
3             323
4              31
sin datos     145
Name: ban, dtype: int64

In [112]:
df[df['sup']=='sin datos'].count()

titulo       2440
precio       2440
ubicacion    2440
dorm         2440
ban          2440
sup          2440
dtype: int64